[submodule "libs/LastFMService"]
	path = libs/LastFMService
	url = https://github.com/nicolasberti/AyDS-LastFM-Lisboa2
[submodule "libs/NewYorkTimesService"]
	path = libs/NewYorkTimesService
	url = https://github.com/AgusF22/AyDS23-NewYork3-NewYorkTimes
[submodule "libs/WikipediaService"]
	path = libs/WikipediaService
	url = https://github.com/JanoALockhart/AyDS-Wikipedia
